h1 {
    text-align: center;
    color: rgb(8, 92, 98);
    text-shadow: 1px 1px 3px gray;
    margin-top: 0px;
    font-size: 22px;
}
body {
    user-select: none;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}
input {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: solid 1px green;
    width: 300px;
}
input[type="submit"] {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: solid 1px green;
    width: 300px;
    cursor: pointer;
}
input[type="submit"]:hover {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: aqua;
    border: solid 1px green;
    width: 300px;
    cursor: pointer;
}